.infoContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.textCenter {
  text-align: center;
}
#titleHead {
  font-size: 60px;
  margin-bottom: 0;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  button {
    margin: 0.5%;
  }
}
