<h1 id="titleHead" class="textCenter">.Net Api</h1>
<h4 class="textCenter">Built By Alex Cevicelow</h4>

<div class="buttonContainer">
  <button (click)="getData()">Get Data</button>
  <button (click)="postData()">Post Data</button>
</div>

<div class="infoContainer">
  <h4 *ngFor="let data of data$ | async">
    {{ data.id | json }}<br />
    {{ data.name }}<br />
    {{ data.isComplete | json }}<br />
  </h4>

  {{ newData$ | async | json }}
</div>
